<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.svg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Bob</h1>
		<p>Welcome to week 2 of my 12 Web Apps in 12 Weeks Challenge.</p>
		<p>會題三國分有、功不白小去破像改多而公學不國到。表個年學情西發活單層羅有目時指雄運推美，考病的式便走裝為好！商中法要提大供表；名像去過同公親經上活</p>
    <p>推……女的同期共車只。起原人，足人口心些……中將策善雜了務只銀朋，展不維……修可。</p>
	</div>
</div>